# AWS Configuration
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# S3
S3_BUCKET=aws-ids-platform

# SQS
SQS_QUEUE_URL=your_sqs_queue_url_for_ids_events

# SNS
SNS_TOPIC_ARN=arn:aws:sns:us-east-2:YOUR_ACCOUNT_ID:ids-alerts

# DynamoDB
DYNAMODB_TABLE=ids-results
DYNAMODB_CONNECTIONS_TABLE=ids-connections

# API Gateway WebSocket
WS_ENDPOINT=your_websocket_api_endpoint_from_aws

# CICFlowMeter (e.g. /home/kali/CICFlowMeter/data/daily/)
CICFLOWMETER_OUTPUT_DIR=your_cicflowmeter_daily_directory_path